<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Menú</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-list>
  <ion-list-header>
    <ion-label>Menú Principal</ion-label>
  </ion-list-header>

  <ion-item>
    <ion-button [routerLink]="['/uno']" ><!-- https://ionic.io/ionicons -->
      <ion-icon slot="end" name="arrow-forward-circle"></ion-icon>
      Ver Lista y botones
    </ion-button>
  </ion-item>
  <ion-item>
    <ion-button [routerLink]="['/dos']" ><!-- https://ionic.io/ionicons -->
      <ion-icon slot="end" name="arrow-forward-circle"></ion-icon>
      Pagina en blanco
    </ion-button>
  </ion-item>  
  <ion-item>
    <ion-button [routerLink]="['/tres']" ><!-- https://ionic.io/ionicons -->
      <ion-icon slot="end" name="arrow-forward-circle"></ion-icon>
      Ver Input
    </ion-button>
  </ion-item>

  <ion-item>
    <a href="/cuatro">Card</a>
  </ion-item>
  <ion-item>
    <a href="/cinco">Alertas</a>
  </ion-item>
  <ion-item>
    <a href="/seis">Atributos y muestra de datos</a>
  </ion-item>
</ion-list>
</ion-content>
