<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>siete</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="primary">
    <h1>Directiva Unidireccional</h1>
    <input type="text" [ngModel]="nombre">
  </ion-text>
  <ion-text color="primary">{{ nombre }}</ion-text>

  <ion-text color="primary">
    <h1>Directiva Bidireccional</h1>
    <input type="text" [(ngModel)]="apellido">
  </ion-text>
  <ion-text color="primary">{{ apellido }}</ion-text>

  <h1>Ejercicios: Sumar 2 números y mostrar el resultado. Usar botón</h1>

  <ion-item>
    <ion-label>Numero 1:</ion-label><input type="number" [(ngModel)]="n1">
  </ion-item>
  <ion-item>
    <ion-label>Numero 2:</ion-label><input type="number" [(ngModel)]="n2">
  </ion-item>
  <ion-item *ngIf="resultado">
    <ion-label>El resultado es: {{ resultado }}</ion-label>
  </ion-item>
  <ion-button (click)="sumar()" expand="block">
    <ion-icon slot="icon-only" name="add"></ion-icon>Sumar
  </ion-button>

  <h1>Crear las operaciones aritmeticas *,/ y -, validando los numero enviado mensaje adecuado</h1>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success"><ion-icon name="ellipsis-vertical-outline"></ion-icon></ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button href="https://ionicframework.com/"><ion-icon name="logo-ionic"></ion-icon></ion-fab-button>
      <ion-fab-button href="https://angular.io/"><ion-icon name="logo-angular"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="top">
      <ion-fab-button href="/menu">menú</ion-fab-button>
      <ion-fab-button href="/uno">uno</ion-fab-button>
      <ion-fab-button href="/dos">dos</ion-fab-button>
      <ion-fab-button (click)="sumar()">sumar</ion-fab-button>
    </ion-fab-list>

  </ion-fab>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>